<select (change)="selectedChangeHandler($event)">
  <option></option>
  <option *ngFor="let item of sortService.variants" [value]="item.value">
    {{ item.alias ?? item.value }}
  </option>
</select>

<button
  *ngIf="sortService.selected"
  [ngSwitch]="sortService.reversed"
  (click)="sortService.changeReversed()"
>
  <ng-container *ngSwitchCase="true">&#9650;</ng-container>
  <ng-container *ngSwitchCase="false">&#9660;</ng-container>
  <!-- <ng-container *ngSwitchDefault>&#8212;</ng-container> -->
</button>
